.CodeLine {
  display: contents;
  width: 100%;
  line-height: 1.5em;

  /* ANTHRACITE :) */
  --comment-background: #292c33;
  --comment-border: #434854;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }

  &__number {
    all: inherit;
    position: relative;
    display: flex;
    color: #777;
    padding-right: 2.7em;
    white-space: nowrap;
    user-select: none;
    justify-content: end;
  }
  &__content {
    all: inherit;
    display: block;
    overflow: hidden;
    text-wrap: wrap;
    width: 100%;
  }

  &--diff {
    .CodeLine__number {
      color: #d6d6d6;
    }

    &:hover .CodeLine__newCommentButton {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__newCommentButton {
    position: absolute;
    top: -0.25em;
    right: 0.25em;
    content: "+";
    background: var(--brand-lighter);
    height: 2em;
    width: 2em;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 3px;
    opacity: 0;
    display: flex;
    transform: scale(0.5);
    transition: 0.15s;
    cursor: pointer;
  }

  &__comments {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0.75em 0;
    font-size: 13px;
  }
}
