.CopyLink {
    margin-top: 10px;
    min-width: fit-content;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    background: var(--page-background);
    color: var(--primary-text);
    font-size: var(--body-font-size);
    border-radius: 5px;
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--button-border-color);
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    align-items: center;

    &--loading {
        cursor: default;
        pointer-events: none;
    }

    &__link {
        padding: 10px;
        width: 100%;
        border: 0px;
        font-size: var(--body-font-size);
    }

    &__copyButton {
        background-color: var(--page-background);
        color: var(--primary-text);
        border-width: var(--border-width);
        border-style: var(--border-style);
        border-color: var(--button-border-color);
        padding: 10px;
        border-radius: 5px;
        font-size: var(--font-size-s);
        margin-left: auto;

        &:hover {
            background: var(--panels-background);
        }

        &:active {
            background-color: var(--brand);
            color: var(--primary-text-white);
        }

        &:disabled {
            cursor: default;
        }
    }

    &__dropdownWrapper {
        width: auto;
        height: 10px;
        min-width: 200px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        & > .Dropdown {
            width: 100%;
        }
    }
}