.RubricItem {
  &__wrapper {
    display: flex;
    padding: 10px;
    background-color: #F5F5F5;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;

  }

  &__itemName {
    border-radius: 5px;
    padding: 10px;
    color: var(--primary-text);
    font-size: var(--body-font-size);
    background: transparent;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    align-self: flex-start;
    /* width: 100%; */
  }

  &__buttonAndPoints {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__itemPoints {
    /* width: 80%; */
    padding: 10px;
    color: var(--primary-text);
    font-size: var(--body-font-size);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    padding-bottom: 10px;
    border-radius: 5px;

  }

  &__Comment {
padding-right: 10px;
  }

  &__buttonWrap {
    display: flex;
    flex-direction: row;
    width: 100px;
  }


  &__button {
    background-color: #f5f5f5;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;   
    min-width: unset;   
    min-height: unset; 
  }


  &__buttonDeductionActive {
    background-color: red;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;   
    min-width: unset;   
    min-height: unset; 
  }

  &__buttonAdditionActive {
    background-color: green;
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;   
    min-width: unset;  
    min-height: unset;   

  }

  &__buttonAdditionActive:hover {
    background-color: green;

  }

  &__buttonDeductionActive:hover {
    background-color: red;
  }


  &__deleteButton {
    height: auto;
    width: fit-content;
  }

  &__deleteButton:hover {
    background-color: rgb(224, 18, 18);
  }

}